body, html{
  font-family: 'Montserrat', sans-serif;
   height: 100%;
   margin: 0;
   background-color: #Dbe3e7;
}
.container{
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
  margin-bottom: 0.8em;
}
.card{
  border-radius: 13px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .322), 0 6px 20px 0 rgba(0, 0, 0, .021);
transition: 0.4s ease-in-out;
padding-bottom: 0.2em;
 background-color: #FAFAFA;
 margin: 0 auto;
}
.desc{
  font-size: 14px;
  margin: 1;
  padding: 6px;
}
.card:hover{
  transition: 0.1s ease-in;
}
.card img{
  margin-top: 0.8em;
  width: 100%;
  height: 100%;
  max-width: 300px;
  object-fit: cover;
  border-radius: 13px;
  overflow: hidden;
  margin-bottom: 0.3em;
}
.card a:hover, a:hover{
  text-decoration: underline;
  color: #5679a4;
}
 .card a{
  color: black;
  text-decoration: none;
}
a{
  text-decoration: none;
}
.card a:active, a:active{
  color: #5294ce;
}
.bo{
font-size: 16px;
}
.parallax { 
   background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 82%;
  text-align: center;
}
.title{
  position: absolute;
  left: 0;
  top: 41%;
  width: 100%;
  text-align: center;
}
.title span{
  color: #ECF1F1;
    background-color: #111;
  padding: 18px;
  font-size: 25px;
  border-radius: 6px;
  opacity: 70%
}
.bigcards img{
  width: 100%;
  height: 100%;
  max-width: 600px;
  border-radius: 13px;
}
.bigcards p{
  padding: 7px;
}
h1{
  font-weight: 400;
}
h2{
  padding-top: 0.5em;
}
.para{
      margin: 0;
    padding: .6em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow-wrap:break-word
}
iframe{
  border-radius: 13px;
  border: 1px #5294ce;
}
footer{
  padding-top: .8em;
  padding-bottom: .8em;
}

.bg1{
   background-image: url("bg.jpeg");
}
.bg2{
  background-image: url('bg2.jpeg');
}