@font-face{
  src: url(font.woff2);
  font-family: Inconsolata;
}
body, html{
  background-color: #202026;
  color:  aliceblue;
  font-family: Inconsolata;
}
.container{
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
  margin-bottom: 1.5em;

}
.card{
  border-radius: 13px;
  width: 50%;
  max-width: 300px;
  background-color: #404142;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .322), 0 6px 20px 0 rgba(0, 0, 0, .021);
margin-left: 1em;
transition: 0.4s ease-in-out;
}
.desc{
  font-size: 14px;
  margin: 1;
  padding: 6px;
}
.card:hover{
  transition: 0.1s ease-in;
}
.card img{
  margin-top: 0.8em;
  width: 100%;
  height: 100%;
  max-width: 300px;
  object-fit: cover;
  border-radius: 13px;
  overflow: hidden;
  margin-bottom: 0.3em;
}
a:hover{
  color: #5294ce;
  text-decoration: underline;
}
 .card a{
  color: aliceblue;
  text-decoration: none;
}
a{
  color: #5294ce;
  text-decoration: none;
}
a:active{
  color: #3380c4;
}
.bo{
font-size: 16px;
}
.bigcards{
  width: 98%;
  max-width: 600px;
    background-color: #404142;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .322), 0 6px 20px 0 rgba(0, 0, 0, .021);
transition: 0.4s ease-in-out;
border-radius: 13px;
margin-bottom: 0.2em;
}
.bigcards img{
  width: 100%;
  height: 100%;
  max-width: 600px;
  border-radius: 13px;
}
.bigcards p{
  padding: 7px;
}
h1{
  font-weight: 400;
}
h2{
  padding-top: 0.5em;
}
.para{
  margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow-wrap:break-word;
}
iframe{
  border-radius: 13px;
}